<div class ="container">
  <div class = "row">
    <div class = "col s5">
      <div class = "card">
        <div class = "card-content">
          <form #MaterialesForm = "ngForm" (ngSubmit)='AddMaterial(MaterialesForm)'>
            <input type="hidden" name="_id" #name="ngModel" [(ngModel)]="materialesService.selectedMaterial._id">
            <div class = "row">
              <div class = "input-field col s12">
                <input type="text" name= "nombre" #name="ngModel" 
                [(ngModel)]="materialesService.selectedMaterial.nombre" placeholder="Ingresa tu nombre">
              </div>
              <div class = "input-field col s12">
                <input type= "text" name= "cantidad" #name="ngModel" 
                [(ngModel)]="materialesService.selectedMaterial.cantidad" placeholder="Ingresa la cantidad">
              </div>
              <div class = "input-field col s12">
                <input type= "text" name= "estado" #name="ngModel" 
                [(ngModel)]="materialesService.selectedMaterial.estado" placeholder="Ingresa su estado">
              </div>
              <div class="card-action">
                <div class="input-field col-s12">
                  <button class="btn right" style="margin-left: 2px;" (click)="resetForm(MaterialesForm)">Clean</button>
                  <button class="btn left">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class = "col s7">
        <table class="striped highlight black-text">
            <thead>
              <th>Nombre</th>
              <th>Cantidad</th>
              <th>Estado</th>
            </thead>
            <tbody>
              <tr *ngFor="let materiales of materialesService.materiales">
                <td>{{ materiales.nombre }}</td>
                <td>{{ materiales.cantidad }}</td>
                <td>{{ materiales.estado }}</td>
                <td>
                  <a (click)="EditarMaterial(materiales)">
                    <i class="material-icons">edit</i>
                  </a>
                  <a (click)="DeleteMaterial(materiales._id, MaterialesForm)">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>